@import 'tailwindcss';

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
}

/* ============================================= */
/* MIO  */
/* ============================================= */

.shine {
   background-size: 300% 100%;
   background-position: 100% center;

   -webkit-background-clip: text;
   background-clip: text;

   animation: neonize 1s ease-in-out infinite alternate;
}

@keyframes neonize {
   from {
      filter: drop-shadow(0 0 0px oklch(96.7% 0.003 264.542))
         drop-shadow(0 0 0px #8b5cf6) drop-shadow(0 0 0px #8b5cf6)
         drop-shadow(0 0 0px #8b5cf6);
      color: rgba(243, 244, 246, 0.8);
   }
   to {
      filter: drop-shadow(0 0 2px oklch(96.7% 0.003 264.542))
         drop-shadow(0 0 5px #8b5cf6) drop-shadow(0 0 9px #8b5cf6)
         drop-shadow(0 0 16px #8b5cf6);
      color: oklch(96.7% 0.003 264.542);
   }
}
